<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <!--<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous" />
    <link rel="stylesheet" href="/css/layout.css">
    <link rel="icon" type="image/x-icon" href="/images/isikfavicon.ico">
</head>
<body>
    <div class="wrapper">
        <!--test-->
        <nav class="navbar navbar-expand-lg navbar-dark" style="background-color:#283691;">
            <a class="navbar-brand" href="#" style="font-weight:bold;color:white;">
                <img src="/images/isiklogo.png" width="30" height="30" style="margin-right: 8px;" class="d-inline-block align-top" alt=""> VR Labs for Higher Education
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    @if (User.Identity.IsAuthenticated)
                    {
                        if (User.IsInRole("Student"))
                        {
                            <li class="nav-item">
                                <a class="nav-link" asp-controller="Student" asp-action="StudentHomePage" style="@(ViewData["StudentHome"] as string == "StudentHome" ? "color: #fbb400;" : "")">Home</a>
                            </li>
                        }
                        else if (User.IsInRole("Instructor"))
                        {
                            <li class="nav-item">
                                <a class="nav-link" asp-controller="Instructor" asp-action="InstructorHomePage" style="@(ViewData["InstructorHome"] as string == "InstructorHome" ? "color: #fbb400;" : "")">Home</a>
                            </li>
                        }
                    }
                    else { }
                </ul>
                <ul class="navbar-nav ml-auto">
                    <!-- Other navbar items --> @if (User.Identity.IsAuthenticated)
                    {
                        if (User.IsInRole("Student"))
                        {
                            <li class="nav-item">
                                <a class="nav-link" asp-controller="Student" asp-action="StudentProfilePage" style="@(ViewData["StudentProfile"] as string == "StudentProfile" ? "color: #fbb400;" : "")">Profile</a>
                            </li>
                        }
                        <li class="nav-item">
                            <a class="nav-link logout" asp-controller="Account" asp-action="Logout">Logout</a>
                        </li>
                    }
                    else
                    {
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Account" asp-action="Login" style="@(ViewData["Login"] as string == "Login" ? "color: #fbb400;" : "")">Login</a>
                        </li>
                    }
                </ul>
            </div>
        </nav>
        <div class="container">
            <main role="main"> @RenderBody() </main>
        </div>
        <footer class="border-top footer" style="background-color:#fbb400;">
            <div style="color:white;font-size:14px;font-family: system-ui; display: flex; justify-content: space-between; align-items: center;">
                <span style="margin-left: 40px;">&copy; 2024 VR Labs for Higher Education</span>
                <span style="margin-right: 40px;">
                    <a href="mailto:19COMP1022@isik.edu.tr" style="color:white;">✉ Ahmet Derin Çabuk - 19COMP1022</a>
                </span>
            </div>
        </footer>
    </div>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <!--<script src="~/lib/jquery/dist/jquery.min.js"></script><script src="~/lib/bootstrap/dist/js/bootstrap.js"></script><script src="~/js/site.js" asp-append-version="true"></script>--> @await RenderSectionAsync("Scripts", required: false)
</body>
</html>